.incidents-table-head /*from incident list*/
    background-color: #1F3140
    color: #7CC2FF

.incident-heading
    color: #1F3140

.nav-tabs
    div
        color: #1F3140

.nav.nav-tabs
    a[aria-selected=true]
        background-color: #3E6180
        border: none

.incident-type-button
    color: #1F3140
    background-color: #3E6180
    border: 1px solid #3E6180

.filter-selected
    border-top: solid 5px #1F3140 !important

tbody, td
    background-color: #3E6180
    color: #7CC2FF
td
    a
        color: #7CC2FF

td
    a:hover
        color: #7CC2FF
