.jumbotron 
    background-color: #3E6180

.jumbotron-text
    color: #1F3140
    animation: fadeIn ease 2s

.join-now-btn
    margin-top: 5%
    width: 200px
    margin-left: auto
    margin-right: auto

.signup-btn:hover
    margin-top: 5%
    width: 250px
    margin-left: auto
    margin-right: auto

.btn-primary
    background-color: #7CC2FF
    color: #1F3140
    border: none
    border-radius: 25px
    width: 100%
    height: 100%


.feature-card
    color: #1F3140
    background-color: #3E6180
    animation: fadeIn ease 5s

.feature-card:hover 
    border: 5px solid #1F3140

.feature-card
    text-align: center
    margin-left: auto
    margin-right: auto
    width: 18rem
    margin-top: 5%
    margin-bottom: 5% 


.card-block
    font-size: 700%


.reasons-tag
    text-decoration: underline

