.navbar 
  background-color: #1F3140
  font-family: 'Lexend Deca', sans-serif

.navbar-brand
  font-size: 1.8em

.nav-link,.navbar-brand , .user-name, .fa-bars
  color: #7CC2FF
  font-size: 1.2em

/*existing style*/
.navi:hover 
  background-color: #0d0d0d !important
  border-radius: 5px
  transition: ease-in 100ms

.nav-a 
  border-radius: 5px
  background-color: #292929

/*----*/

.navbar-brand:hover, .nav-link:hover
  color: #7CC2FF


.loginBtn 
  color: #7CC2FF
  background-color: #3E6180
  border: #3E6180
  width: 150%


.loginBtn:hover 
  color: #7CC2FF
  background-color: #3E6180
  border: #3E6180

//for footer//
.footer
  background-color: #1F3140
  padding: 1%
  text-align: center
  margin-bottom: 0vh
  position: relative

.footer-content
  color: #7CC2FF
