.login
    margin-top: 5vh

.login 
    .card-header, .card-footer
        background-color: #1F3140
        color: #7CC2FF

.login 
    .card-body
        background-color: #3E6180

.login 
    .card
        border: none

.login-btn
    background-color: #1F3140
    color: #7CC2FF
    width: 100%
    height: 100%

.login-btn:hover
    color: #1F3140
    background-color: #7CC2FF
    border: 2px solid #7CC2FF

.login-btn-container
    margin-left: auto
    margin-right: auto
    margin-top: 15%
    width: 50%

.login
    a
        color: #7CC2FF

.login
    input
        background-color: #1F3140
        color: #7CC2FF
        border: none
    label
        color: #1F3140

    input:focus
        background-color: #1F3140
        color: #7CC2FF
        border: none
    
    input::placeholder
        color: #7CC2FF
